.comparison {
  background-color: var(--ifm-background-surface-color);
}

.table {
  width: 100%;
  border-color: transparent;
  text-align: center;

  td,
  th,
  tr {
    border: none;
    vertical-align: middle;
  }

  td,
  tr {
    padding: 1rem 2rem;
    border-left: 1rem solid var(--ifm-background-surface-color);
  }

  tr:nth-child(2n) {
    background: none;
  }

  .label {
    padding-left: 0;
    color: var(--ifm-color-primary);
    font-weight: bold;
    text-align: left;
  }

  .result {
    background-color: var(--ifm-table-stripe-background);

    &H {
      color: #000;
      background-color: #ffcf5d;
    }

    &X {
      color: var(--ifm-color-danger);
    }
  }
}
