/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
// Primary Blue: #2296f3
// Primary Green: #cddc39

:root {
  --ifm-background-color: #fff;
  --ifm-background-surface-color: #f2f6fa;
  --ifm-color-primary: #2296f3;
  --ifm-color-primary-dark: #1490f3;
  --ifm-color-primary-darker: #0b8df5;
  --ifm-color-primary-darkest: #1567c0;
  --ifm-color-primary-light: #2b98f1;
  --ifm-color-primary-lighter: #38a1f7;
  --ifm-color-primary-lightest: #54aef9;
  --ifm-card-background-color: var(--ifm-background-color);
  --ifm-footer-background-color: var(--ifm-background-surface-color);
}

html[data-theme="dark"] {
  // --ifm-background-color: #242526;
  // --ifm-background-surface-color: #18191a;
  --ifm-color-primary: #cddc39;
  --ifm-color-primary-dark: #d0e02f;
  --ifm-color-primary-darker: #cfe027;
  --ifm-color-primary-darkest: #cade09;
  --ifm-color-primary-light:#d1de53;
  --ifm-color-primary-lighter: #d5e064;
  --ifm-color-primary-lightest: #dde679;
}

.docusaurus-highlight-code-line {
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  background-color: rgb(72, 77, 91);

  html[data-theme="dark"] & {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

div[role|="banner"] {
  z-index: 1;
}

.navbar {
  background-color: #fff;

  html[data-theme="dark"] & {
    background-color: rgb(72, 77, 91);
  }
}

.header-github-link {
  &:hover {
    opacity: 0.6;
  }
  &:before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;

    html[data-theme="dark"] & {
      background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
        no-repeat;
    }
  }
}

.header-twitter-link {
  &:hover {
    opacity: 0.6;
  }
  &:before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z' fill='%233ba9ee'%3E%3C/path%3E%3C/svg%3E") no-repeat;
  }
}

.header-linkedin-link {
  &:hover {
    opacity: 0.6;
  }
  &:before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%0Aaria-label='LinkedIn' role='img'%0AviewBox='0 0 512 512'%0Afill='%23fff'%3E%3Crect%0Awidth='512' height='512'%0Arx='15%25'%0Afill='%230077b5'/%3E%3Ccircle cx='142' cy='138' r='37'/%3E%3Cpath stroke='%23fff' stroke-width='66' d='M244 194v198M142 194v198'/%3E%3Cpath d='M276 282c0-20 13-40 36-40 24 0 33 18 33 45v105h66V279c0-61-32-89-76-89-34 0-51 19-59 32'/%3E%3C/svg%3E") no-repeat;
  }
}

footer {
  z-index: 1;
}

.footer__logo {
  width: 64px;
}
